# dev
src/assets/tiles
coverage/
.env

# Ignoring the workspace file. It is in use when using the pixelaw.js submodule
# but this is not the regular situation and should not be committed
pnpm-workspace*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.run/dev.run.xml
