.inner {
	padding: 0.5rem;
	border-radius: 0.5rem;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	display: inline-flex; /* Use inline-flex to fit content */
	flex-direction: column; /* Stack elements vertically */
	align-items: center; /* Center elements horizontally */
	justify-content: center;
	gap: 0.5rem;
	width: auto;
	height: auto;
	transition: transform 0.2s, box-shadow 0.2s;
	border: 2px solid white;
	font-size: xxx-large;
}

.button {
	cursor: pointer; /* Ensure the cursor indicates interactivity */
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%; /* Ensure the label takes up space */
	height: 100%;
}

.button-white {
	border: 2px solid #000000;
}

.button-selected {
	outline: 2px solid cyan;
}

.button-unselected {
	outline: none;
}
