.inner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
    width: 100vw; /* Full viewport width */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.list {
    list-style-type: none;
    padding: 0;
}

.listItem {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.listItem:hover {
    background-color: #f0f0f0;
}

.selected {
    background-color: #d0eaff;
    border-color: #a0cfff;
}

.menuButton {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.selectedButton {
    background-color: #007bff;
    color: white;
}

.unselectedButton {
    background-color: #6c757d;
    color: white;
}
