.customButton {
    border-radius: 0.5rem;
    border: none;
    padding: 0.8em 0.8em;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    width: 100%;
    height: 100%;
    /*outline: none;*/
}
.selected {
    outline: 2px solid chocolate;
}

.customButton span {
    position: absolute;
    justify-content: center;
    align-items: center;
}
